In [1]:
import os
import os.path as osp
import pandas as pd

from ddf_utils.str import to_concept_id, format_float_digits
from ddf_utils.factory import ihme

In [2]:
import dask.dataframe as dd

In [3]:
from zipfile import ZipFile

# TODOs

- fix float format

In [4]:
# metadata
md = ihme.load_metadata()

In [5]:
md.keys()

dict_keys(['age', 'cause', 'groups', 'location', 'measure', 'metric', 'rei', 'sequela', 'sex', 'year', 'year_range', 'version'])

In [5]:
md['metric']

   metric_id                  name            short_name
1          1                Number                     #
2          2               Percent                     %
3          3                  Rate                  Rate
5          5                 Years                 Years
8          8  Probability of death  Probability of death
9          9           Index score           index score

In [6]:
md['measure']

,measure_id,sort,name,short_name
1,1,1,Deaths,Deaths
2,2,4,DALYs (Disability-Adjusted Life Years),DALYs
25,25,26,Maternal mortality ratio,MMR
26,26,28,Life expectancy,LE
27,27,27,Probability of death,PoD
28,28,29,HALE (Healthy life expectancy),HALE
29,29,21,Summary exposure value,SEV
3,3,3,YLDs (Years Lived with Disability),YLDs
4,4,2,YLLs (Years of Life Lost),YLLs
43,43,43,HAQ Index (Healthcare Access and Quality Index),haq_index
5,5,5,Prevalence,Prevalence
6,6,6,Incidence,Incidence

In [7]:
md['rei'].head()

     rei_id  type                  name          short_name  enabled
100     100  risk      Secondhand smoke    Secondhand smoke        1
101     101  risk  Alcohol and drug use  Alcohol & drug use        0
102     102  risk           Alcohol use         Alcohol use        1
103     103  risk              Drug use            Drug use        1
104     104  risk       Metabolic risks           Metabolic        0

In [4]:
source_dir = '../source/cause/deathAndIncidence/'

In [5]:
sorted(os.listdir(source_dir))

['.DS_Store',
 'IHME-GBD_2016_DATA-00fe3d4a-1.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-10.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-11.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-12.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-13.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-14.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-15.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-16.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-17.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-18.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-19.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-2.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-20.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-21.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-22.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-23.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-24.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-25.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-26.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-27.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-28.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-29.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-3.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-30.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-31.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-4.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-5.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-6.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-7.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-8.zip',
 'IHME-GBD_2016_DATA-00fe3d4a-9.zip']

In [17]:
n = 'IHME-GBD_2016_DATA-93b0f1b4-15.zip'
f = osp.join(source_dir, n)

In [18]:
zf = ZipFile(f)

In [19]:
fname = osp.splitext(n)[0]

In [20]:
fname + '.csv'

'IHME-GBD_2016_DATA-93b0f1b4-15.csv'

In [21]:
data = pd.read_csv(zf.open(fname + '.csv'))

In [22]:
data.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,2,4670,1,8,713,1,1990,196.065831,267.012417,142.022315
1,2,4670,2,8,713,1,1990,90.391765,120.094655,66.695699
2,2,4670,3,8,713,1,1990,286.457596,362.406080,221.947945
3,2,4670,1,8,713,2,1990,0.008221,0.011174,0.006050
4,2,4670,2,8,713,2,1990,0.005668,0.007294,0.004329

In [23]:
data.shape

(1000000, 10)

In [24]:
data.memory_usage().sum() / 1024 / 1024

76.29402160644531

In [25]:
76 * 32

2432

In [6]:
all_data = []
for n in os.listdir(source_dir):
    print(n)
    if not n.endswith('.zip'):
        continue
    f = osp.join(source_dir, n)
    zf = ZipFile(f)
    fname = osp.splitext(n)[0] + '.csv'
    data = pd.read_csv(zf.open(fname))
    data = data.drop(['upper', 'lower'], axis=1)
    all_data.append(data)

.DS_Store
IHME-GBD_2016_DATA-00fe3d4a-5.zip
IHME-GBD_2016_DATA-00fe3d4a-17.zip
IHME-GBD_2016_DATA-00fe3d4a-16.zip
IHME-GBD_2016_DATA-00fe3d4a-4.zip
IHME-GBD_2016_DATA-00fe3d4a-6.zip
IHME-GBD_2016_DATA-00fe3d4a-14.zip
IHME-GBD_2016_DATA-00fe3d4a-28.zip
IHME-GBD_2016_DATA-00fe3d4a-29.zip
IHME-GBD_2016_DATA-00fe3d4a-15.zip
IHME-GBD_2016_DATA-00fe3d4a-7.zip
IHME-GBD_2016_DATA-00fe3d4a-3.zip
IHME-GBD_2016_DATA-00fe3d4a-11.zip
IHME-GBD_2016_DATA-00fe3d4a-10.zip
IHME-GBD_2016_DATA-00fe3d4a-2.zip
IHME-GBD_2016_DATA-00fe3d4a-12.zip
IHME-GBD_2016_DATA-00fe3d4a-13.zip
IHME-GBD_2016_DATA-00fe3d4a-1.zip
IHME-GBD_2016_DATA-00fe3d4a-22.zip
IHME-GBD_2016_DATA-00fe3d4a-23.zip
IHME-GBD_2016_DATA-00fe3d4a-21.zip
IHME-GBD_2016_DATA-00fe3d4a-20.zip
IHME-GBD_2016_DATA-00fe3d4a-18.zip
IHME-GBD_2016_DATA-00fe3d4a-30.zip
IHME-GBD_2016_DATA-00fe3d4a-24.zip
IHME-GBD_2016_DATA-00fe3d4a-25.zip
IHME-GBD_2016_DATA-00fe3d4a-31.zip
IHME-GBD_2016_DATA-00fe3d4a-19.zip
IHME-GBD_2016_DATA-00fe3d4a-9.zip
IHME-GBD_2016_DATA-00fe3d4a-27.zip
IHME-GBD_2016_DATA-00fe3d4a-26.zip
IHME-GBD_2016_DATA-00fe3d4a-8.zip

In [7]:
data_full = all_data.pop()

In [8]:
l = len(all_data)
for _ in range(l):
    data_full = data_full.append(all_data.pop(), ignore_index=True)
    # print(data_full.shape)

KeyboardInterrupt:

In [20]:
data_full.shape

(36248813, 8)

In [11]:
del all_data

In [12]:
all_data = None

In [13]:
data_full.sample(10)

          measure  location  sex  age  cause  metric  year          val
4761786         6         7    2   24    300       2  1991     0.000001
8723022         4       181    2   19    390       3  1992     2.894290
7700258         2       573    3   31    704       3  1990   416.755904
3074087         6     35459    1  162    619       2  1990     0.000071
29343190       25      4651    2   14    366       3  2015  1276.613873
4391535         1      4772    2    3    344       1  1991     0.055526
10719196        1       167    2   19    300       1  1990    28.563954
34467093        5     35426    2   32    618       3  1990   813.211406
27000478        4     44590    1    9    512       1  1992  1167.916570
17605404        2      4749    2  235    419       3  1990    41.701780

In [21]:
data_full.metric.unique()

array([2, 3, 1])

In [34]:
data_full.measure.unique()

array([ 3,  5,  2,  4,  6,  1, 25])

In [22]:
groups = data_full.groupby(by=['measure', 'metric'])

In [6]:
metric = md['metric'].copy()
measure = md['measure'].copy()

In [7]:
metric = metric.set_index('metric_id')['name'].to_dict()
measure = measure.set_index('measure_id')['short_name'].to_dict()

In [31]:
measure

{1: 'Deaths',
 2: 'DALYs',
 25: 'MMR',
 26: 'LE',
 27: 'PoD',
 28: 'HALE',
 29: 'SEV',
 3: 'YLDs',
 4: 'YLLs',
 43: 'haq_index',
 5: 'Prevalence',
 6: 'Incidence'}

In [25]:
all_measures = []

for g in groups.groups:
    name  = measure[g[0]] + ' ' + metric[g[1]]
    # print(name)
    concept = to_concept_id(name)
    all_measures.append([concept, name])
    
    df = groups.get_group(g)
    df = df.rename(columns={'val': concept})
    sex_groups = df.groupby(by='sex')  # split by sex
    cols = ['location', 'sex', 'age', 'cause', 'year', concept]
    # if concept == 'mmr_rate':
    #     print(df.sex.unique())
    for g_ in sex_groups.groups:
        df_ = sex_groups.get_group(g_)
        sex = 'sex-{}'.format(g_)
        by = ['location', sex, 'age', 'cause', 'year']
        file_name = 'ddf--datapoints--'+concept+'--by--'+'--'.join(by)+'.csv'
        file_path = osp.join('../../', file_name)
        df_[cols].to_csv(file_path, index=False)

In [26]:
df.head()

      measure  location  sex  age  cause  metric  year  mmr_rate
6464       25       548    2    8    376       3  1990  0.404898
6465       25       548    2    9    376       3  1990  0.474038
6466       25       548    2   10    376       3  1990  0.536445
6467       25       548    2   11    376       3  1990  0.928353
6468       25       548    2   12    376       3  1990  1.957516

In [32]:
all_measures

[['deaths_number', 'Deaths Number'],
 ['deaths_percent', 'Deaths Percent'],
 ['deaths_rate', 'Deaths Rate'],
 ['dalys_number', 'DALYs Number'],
 ['dalys_percent', 'DALYs Percent'],
 ['dalys_rate', 'DALYs Rate'],
 ['ylds_number', 'YLDs Number'],
 ['ylds_percent', 'YLDs Percent'],
 ['ylds_rate', 'YLDs Rate'],
 ['ylls_number', 'YLLs Number'],
 ['ylls_percent', 'YLLs Percent'],
 ['ylls_rate', 'YLLs Rate'],
 ['prevalence_number', 'Prevalence Number'],
 ['prevalence_percent', 'Prevalence Percent'],
 ['prevalence_rate', 'Prevalence Rate'],
 ['incidence_number', 'Incidence Number'],
 ['incidence_percent', 'Incidence Percent'],
 ['incidence_rate', 'Incidence Rate'],
 ['mmr_rate', 'MMR Rate']]

In [25]:
md['cause'].shape

(335, 5)

In [26]:
md['location'].shape

(436, 6)

In [27]:
md['sex'].shape

(3, 3)

In [28]:
md['age'].shape

(46, 6)

In [33]:
# entities

In [35]:
sexs = md['sex'].copy()

In [36]:
sexs

   sex_id    name       label
1       1    Male       Males
2       2  Female     Females
3       3    Both  Both sexes

In [40]:
sexs.columns = ['sex', 'name', 'short_name']
sexs[['sex', 'name']].to_csv('../../ddf--entities--sex.csv', index=False)

In [38]:
causes = md['cause'].copy()

In [42]:
causes.head()

,cause,label,name,medium_name,short_name
294,294,Total,All causes,All causes,All causes
295,295,A,"Communicable, maternal, neonatal, and nutritio...",Group I,Group I
296,296,A.1,HIV/AIDS and tuberculosis,HIV/AIDS & tuberculosis,HIV+TB
297,297,A.1.1,Tuberculosis,Tuberculosis,TB
298,298,A.1.2,HIV/AIDS,HIV/AIDS,HIV

In [41]:
causes.columns = ['cause', 'label', 'name', 'medium_name', 'short_name']
causes.to_csv('../../ddf--entities--cause.csv', index=False)

In [43]:
locations = md['location'].copy()

In [44]:
locations

,location_id,type,name,medium_name,short_name,enabled
1,1,NaN,Global,Global,Earth,NaN
10,10,NaN,Cambodia,Cambodia,Cambodia,NaN
100,100,NaN,High-income North America,High-income North America,HI N Am,NaN
101,101,NaN,Canada,Canada,Canada,NaN
102,102,NaN,United States,United States,USA,NaN
103,103,NaN,Latin America and Caribbean,Latin America and Caribbean,Latin Am & Caribbean,NaN
104,104,NaN,Caribbean,Caribbean,Caribbean,NaN
105,105,NaN,Antigua and Barbuda,Antigua and Barbuda,Antigua,NaN
106,106,NaN,The Bahamas,The Bahamas,Bahamas,NaN
107,107,NaN,Barbados,Barbados,Barbados,NaN
108,108,NaN,Belize,Belize,Belize,NaN
109,109,NaN,Cuba,Cuba,Cuba,NaN
11,11,NaN,Indonesia,Indonesia,Indonesia,NaN
110,110,NaN,Dominica,Dominica,Dominica,NaN
111,111,NaN,Dominican Republic,Dominican Republic,Dominican Rep,NaN
112,112,NaN,Grenada,Grenada,Grenada,NaN
113,113,NaN,Guyana,Guyana,Guyana,NaN
114,114,NaN,Haiti,Haiti,Haiti,NaN
115,115,NaN,Jamaica,Jamaica,Jamaica,NaN
116,116,NaN,Saint Lucia,Saint Lucia,St Lucia,NaN
117,117,NaN,Saint Vincent and the Grenadines,Saint Vincent and the Grenadines,St Vincent,NaN
118,118,NaN,Suriname,Suriname,Suriname,NaN
119,119,NaN,Trinidad and Tobago,Trinidad and Tobago,Trinidad Tobago,NaN
12,12,NaN,Laos,Laos,Laos,NaN
120,120,NaN,Andean Latin America,Andean Latin America,Andean Latin Am,NaN
121,121,NaN,Bolivia,Bolivia,Bolivia,NaN
122,122,NaN,Ecuador,Ecuador,Ecuador,NaN
123,123,NaN,Peru,Peru,Peru,NaN
124,124,NaN,Central Latin America,Central Latin America,Central Latin Am,NaN
125,125,NaN,Colombia,Colombia,Colombia,NaN
...,...,...,...,...,...,...
73,73,NaN,Western Europe,Western Europe,W Europe,NaN
74,74,NaN,Andorra,Andorra,Andorra,NaN
75,75,NaN,Austria,Austria,Austria,NaN
76,76,NaN,Belgium,Belgium,Belgium,NaN
77,77,NaN,Cyprus,Cyprus,Cyprus,NaN
78,78,NaN,Denmark,Denmark,Denmark,NaN
79,79,NaN,Finland,Finland,Finland,NaN
8,8,NaN,Taiwan,Taiwan,Taiwan,NaN
80,80,NaN,France,France,France,NaN
81,81,NaN,Germany,Germany,Germany,NaN
82,82,NaN,Greece,Greece,Greece,NaN
83,83,NaN,Iceland,Iceland,Iceland,NaN
84,84,NaN,Ireland,Ireland,Ireland,NaN
85,85,NaN,Israel,Israel,Israel,NaN
86,86,NaN,Italy,Italy,Italy,NaN
87,87,NaN,Luxembourg,Luxembourg,Luxembourg,NaN
88,88,NaN,Malta,Malta,Malta,NaN
89,89,NaN,Netherlands,Netherlands,Netherlands,NaN
9,9,NaN,Southeast Asia,Southeast Asia,SE Asia,NaN
90,90,NaN,Norway,Norway,Norway,NaN
91,91,NaN,Portugal,Portugal,Portugal,NaN
92,92,NaN,Spain,Spain,Spain,NaN
93,93,NaN,Sweden,Sweden,Sweden,NaN
94,94,NaN,Switzerland,Switzerland,Switzerland,NaN
95,95,NaN,United Kingdom,United Kingdom,UK,NaN
96,96,NaN,Southern Latin America,Southern Latin America,S Latin Am,NaN
97,97,NaN,Argentina,Argentina,Argentina,NaN
98,98,NaN,Chile,Chile,Chile,NaN
99,99,NaN,Uruguay,Uruguay,Uruguay,NaN
custom,custom,custom,Custom regions,Custom regions,Custom regions,False

In [45]:
# don't include the custom region

In [46]:
locations = locations.iloc[:-1]

In [47]:
locations.shape

(435, 6)

In [48]:
locations = locations[['location_id', 'name', 'short_name', 'medium_name']]
locations.columns = ['location', 'name', 'short_name', 'medium_name']

In [49]:
locations.head()

    location                       name short_name                medium_name
1          1                     Global      Earth                     Global
10        10                   Cambodia   Cambodia                   Cambodia
100      100  High-income North America    HI N Am  High-income North America
101      101                     Canada     Canada                     Canada
102      102              United States        USA              United States

In [50]:
locations.to_csv('../../ddf--entities--location.csv', index=False)

In [63]:
ages = md['age'].copy()

In [65]:
ages.head()

    age_id      name short_name  sort  plot       type
1        1   Under 5         <5    22     0  aggregate
10      10  25 to 29         25    10     1   specific
11      11  30 to 34         30    11     1   specific
12      12  35 to 39         35    12     1   specific
13      13  40 to 44         40    13     1   specific

In [66]:
ages = ages.sort_values(by='sort')[['age_id', 'name', 'short_name', 'type']]
ages.columns = ['age', 'name', 'short_name', 'type']

In [68]:
ages.to_csv('../../ddf--entities--age.csv', index=False)

In [55]:
# concepts

In [56]:
cont_cdf = pd.DataFrame(all_measures, columns=['concept', 'name'])

In [58]:
cont_cdf['concept_type'] = 'measure'

In [60]:
cont_cdf.to_csv('../../ddf--concepts--continuous.csv', index=False)

In [60]:
dis_cdf = pd.DataFrame([
    ['name', 'Name', 'string'],
    ['short_name', 'Short Name', 'string'],
    ['medium_name', 'Medium Name', 'string'],
    ['long_name', 'Long Name', 'string'],
    ['location', 'Location', 'entity_domain'],
    ['sex', 'Sex', 'entity_domain'],
    ['age', 'Age', 'entity_domain'],
    ['cause', 'Cause', 'entity_domain'],
    ['rei', 'Risk/Etiology/Impairment', 'entity_domain'],
    ['label', 'Label', 'string'],
    ['year', 'Year', 'time'],
    ['type', 'Type', 'string']
], columns=['concept', 'name', 'concept_type'])

In [61]:
dis_cdf.sort_values(by='concept').to_csv('../../ddf--concepts--discrete.csv', index=False)

In [11]:
# Risk dimension

In [12]:
rei = md['rei']

In [22]:
rei[rei['rei_id'] == 184]

     rei_id      type       name short_name  enabled
184     184  etiology  Norovirus  Norovirus        1

In [19]:
causes = md['cause']

In [21]:
causes[causes['cause_id'] == 295]

,cause_id,cause,name,medium_name,short_name
295,295,A,"Communicable, maternal, neonatal, and nutritio...",Group I,Group I

In [23]:
# risk

In [27]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [8]:
rsd = '../source/impairment/missing/'

In [9]:
all_data = {}
all_measures = []
for n in os.listdir(rsd):
    print(n)
    if not n.endswith('.zip'):
        continue
    f = osp.join(rsd, n)
    zf = ZipFile(f)
    fname = osp.splitext(n)[0] + '.csv'
    data = pd.read_csv(zf.open(fname))
    data = data.drop(['upper', 'lower'], axis=1)
    # data = dd.from_pandas(data, npartitions=1)
    groups = data.groupby(by=['measure', 'metric'])
    for g in groups.groups:
        name  = measure[g[0]] + ' ' + metric[g[1]]
        concept = to_concept_id(name)
        all_measures.append([concept, name])
        df = groups.get_group(g)
        df = df.rename(columns={'val': concept})
        cols = ['location', 'sex', 'age', 'cause', 'rei', 'year', concept]
        
        # df = dd.from_pandas(df[cols], npartitions=10)
        df = df[cols]
        if concept in all_data.keys():
            all_data[concept] = all_data[concept].append(df, ignore_index=True)
        else:
            all_data[concept] = df
    zf.close()
    # break

IHME-GBD_2016_DATA-a1cf33e1-9.zip
IHME-GBD_2016_DATA-a1cf33e1-8.zip
IHME-GBD_2016_DATA-a1cf33e1-16.zip
IHME-GBD_2016_DATA-a1cf33e1-17.zip
IHME-GBD_2016_DATA-a1cf33e1-29.zip
IHME-GBD_2016_DATA-a1cf33e1-15.zip
IHME-GBD_2016_DATA-a1cf33e1-14.zip
IHME-GBD_2016_DATA-a1cf33e1-28.zip
IHME-GBD_2016_DATA-a1cf33e1-10.zip
t.sh
IHME-GBD_2016_DATA-a1cf33e1-11.zip
IHME-GBD_2016_DATA-a1cf33e1-13.zip
IHME-GBD_2016_DATA-a1cf33e1-12.zip
IHME-GBD_2016_DATA-a1cf33e1-23.zip
IHME-GBD_2016_DATA-a1cf33e1-22.zip
IHME-GBD_2016_DATA-a1cf33e1-20.zip
IHME-GBD_2016_DATA-a1cf33e1-21.zip
IHME-GBD_2016_DATA-a1cf33e1-25.zip
IHME-GBD_2016_DATA-a1cf33e1-19.zip
IHME-GBD_2016_DATA-a1cf33e1-18.zip
IHME-GBD_2016_DATA-a1cf33e1-30.zip
IHME-GBD_2016_DATA-a1cf33e1-24.zip
IHME-GBD_2016_DATA-a1cf33e1-26.zip
IHME-GBD_2016_DATA-a1cf33e1-27.zip
IHME-GBD_2016_DATA-a1cf33e1-5.zip
IHME-GBD_2016_DATA-a1cf33e1-4.zip
IHME-GBD_2016_DATA-a1cf33e1-6.zip
IHME-GBD_2016_DATA-a1cf33e1-7.zip
IHME-GBD_2016_DATA-a1cf33e1-3.zip
IHME-GBD_2016_DATA-a1cf33e1-2.zip
IHME-GBD_2016_DATA-a1cf33e1-1.zip

In [10]:
all_data.keys()

dict_keys(['prevalence_number', 'prevalence_percent', 'prevalence_rate'])

In [15]:
all_data['deaths_percent'].shape

(9162245, 7)

In [11]:
pd.DataFrame(all_measures).drop_duplicates()

                    0                   1
0   prevalence_number   Prevalence Number
1  prevalence_percent  Prevalence Percent
2     prevalence_rate     Prevalence Rate

In [16]:
1000000 * 100 / 12

8333333.333333333

In [18]:
(9162245 - 8333333) / 1000000

0.828912

In [40]:
# df = all_data.pop('deaths_number')
df = all_data['ylds_number']

In [20]:
# df.to_pickle('deaths_number.pkl')

In [23]:
for k in list(all_data.keys()):
    df = all_data.pop(k)
    df.to_pickle('{}.pkl'.format(k))

In [24]:
!open .

In [31]:
# df = pd.read_pickle('./ylds_percent.pkl')

In [41]:
df.columns

Index(['location', 'sex', 'age', 'cause', 'rei', 'year', 'ylds_number'], dtype='object')

In [12]:
for k, df in all_data.items():
    g = df.groupby(by='rei')
    for r in g.groups:
        df_ = g.get_group(r)
        by = ['location', 'sex', 'age', 'cause', f'rei-{r}', 'year']
        filename = f'ddf--datapoints--{k}--by--' + '--'.join(by) + '.csv'
        path = osp.join('../../', 'impairment', filename)
        df_.to_csv(path, index=False)

In [28]:
rei = md['rei']

In [43]:
rei[rei.rei_id == 219]

     rei_id        type                  name            short_name  enabled
219     219  impairment  Severe heart failure  Severe heart failure        1

In [45]:
rei.type.unique()

array(['risk', 'etiology', 'impairment', 'injury n-codes'], dtype=object)

In [62]:
rei_ent = rei[rei['type'] != 'injury n-codes']

In [63]:
rei_ent.head()

     rei_id  type                  name          short_name  enabled
100     100  risk      Secondhand smoke    Secondhand smoke        1
101     101  risk  Alcohol and drug use  Alcohol & drug use        0
102     102  risk           Alcohol use         Alcohol use        1
103     103  risk              Drug use            Drug use        1
104     104  risk       Metabolic risks           Metabolic        0

In [65]:
rei_ent = rei_ent[['rei_id', 'type', 'name', 'short_name']]
rei_ent.columns = ['rei', 'type', 'name', 'short_name']

In [66]:
rei_ent.to_csv('../../ddf--entities--rei.csv', index=False)